<div class="card-deck">
  <app-my-ad *ngFor="let ad of ads"
             [kategorija]="ad.kategorija"
             [grupa]="ad.grupa"
             [model]="ad.model"
             [naslov]="ad.naslov"
             [stanje]="ad.stanje"
             [slike]="ad.slike"
             [opis]="ad.opis"
             [oglas_id]="ad.oglas_id"
             [lajkovi]="ad.lajkovi"
             [cena]="ad.cena"
             [datum]="ad.datum"
             [user_email]="ad.user_email"
             [oglas_id]="ad.oglas_id"
             (deleteMyAd)="deleteMyAd($event)"
  ></app-my-ad>
</div>
